.custom-toolbar {
  .header-bar{
    padding-left: 12px;
    padding-right: 12px;
    border-left: 1px solid #999999;
    margin: 0;
  }
  .header-bar:first-child{
    padding-left: 0;
    border-left: none;
  }
}

