.container{
  .outlet{
    position: relative;
    padding-top: 10px;
    padding-bottom: 80px;
    width: calc(100% - 350px);
    margin-left: 350px;
    >div {
      width: 80%;
      margin: 0 auto;
    }
  }
}
